<div id="main">
  <div class="row">
    <div class="col-12">
      <div class="card bg-light">
        <div class="card-hearder">質問</div>
        <div class="card-body">
          <p class="card-text"><%= @question.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>